@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@1,900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background: #201b2c;
}

.home {
    
    text-align: center;
    width: 35%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #d6d3db;
    cursor: pointer;
    text-decoration: none
}

.Errorbg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Errorimg {
    width: 35vw;
}

