@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@1,900&display=swap');




.reader {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    border-width: 0px 0px 1px 0px;
    box-shadow: 0px 0px 12px 0px #77817c52;
    position: relative;
    margin: 0;
    padding: 0;
    align-items:center;
    border-radius: 0 0 4px 4px;
    border-color: #2b134b;
   
    
    
}






btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #201b2c;
    color: #f5f5f5;
    
  }
  
  .btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  .btn .icon {
    position:absolute;
    top: 51%;
    left: 2%;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .btn .text {
    transform: translateX(55px);
   
   
   
    
  }
  
  .btn:hover .icon {
    width: 175px;
  }
  
  .btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .btn:focus {
    outline: none;
    
  }
  
  .btn:active .icon {
    transform: scale(0.85);
  }


.titlle {
    font-family: 'Great Vibes', cursive;
    font-size: 500%;
    color: #000000 ;
}

.invisible {
    display: none;
}

.search-box {
    position: absolute;
    top: 51%;
    left: 60%;
    transform: translate(-50%, -50%);

    background: #ffffff;
    height: 50px;
    padding: 10px;
    border-radius: 40px;
    border: solid;
    border-color: #2b134b;
    border-width: 1px 1px 1px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
   




.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 0;
    padding: 0;

    transition: 0.4s;
    cursor: pointer;
}

.search-box:hover > .search-text {
    width: 320px;
    padding-left: 20px;

}

.search-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-box:hover > .search-btn {
    background: #447ce7;
}

.search-box:hover > .search-btn .loupe-blue {
    display: none;

}

.search-box:hover .search-btn .loupe-white {
    display: block;
}

.loupe-white {
    display: none;
}

::-webkit-input-placeholder {
    font-size: 17px;
    color: #aeaeae;
}



#bt {
    width: 60%;
    padding: 22px 0px;
    margin: 45px;
    border: none;
    border-radius: 8px;
    outline: none ;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #00ff88;
    background:#2b134b;
    cursor: pointer;
    box-shadow: 0px 6px 6px 1px #21105c52;

     
}

#bt:hover {
    background-color: #77ffc0;
    color: black;
}

.nav {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 115%;
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    border: solid;
    border-width: 0px 1px 1px 1px;
    box-shadow: 1px 1px 1px 1px #00000052;
    border-radius: 15px 15px 15px 15px;


    
}

.categories {
    color: #534c4c;
    font: bold
}

.news-books {
    color: #534c4c;
}

.books-recomend {
    color: #534c4c;
}

.main {
    box-sizing: 15px;
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;

}

.section {
    background-color: #ffffff;
    padding: 180px;
    color: #aeaeae;
}

.aside {
    background-color: #ffffff;
    padding: 180px;
    color: rgb(0, 0, 0);
    
    
}


.footer {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #2b134b;
    color: #f5f5f5;
    font-size: 8px;
    word-spacing: 15px;

}







