@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@1,900&display=swap');

body {
    background: #201b2c;
    height: 10vw;
    width: 50vw;
    padding: 7%;
    
    
  
    
    
}

.search-box {
    position: absolute;
    top: 42%;
    left: 22%;
    transform: translate(-50%, -50%);

    background: #fff;
    height: 50px;
    padding: 10px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 0;
    padding: 0;

    transition: 0.4s;
    cursor: pointer;
}

.search-box:hover > .search-text {
    width: 320px;
    padding-left: 20px;

}

.search-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-box:hover > .search-btn {
    background: #447ce7;
}

.search-box:hover > .search-btn .loupe-blue {
    display: none;

}

.search-box:hover .search-btn .loupe-white {
    display: block;
}

.loupe-white {
    display: none;
}

::-webkit-input-placeholder {
    font-size: 17px;
    color: #aeaeae;
}

.anuncio {
    text-align: center;
    font-size: 100%;
}
.reader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    align-items: center;
    
    
    
}

.tittle {
    font-family: 'Great Vibes', cursive;
    font-size: 300%;
    color: #77ffc0 ;
    width: 50vw;
    height: 8vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 




.right-itens {
    
    font-family: 'Great Vibes', cursive;
    font-size: 100%;
    color: #77ffc0 ;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0 auto;
}


#bt {
    width: 60%;
    padding: 22px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none ;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 12px #00ff8052;
     
}

#bt:hover {
    background-color: #77ffc0;
    color: black;
}







