@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@1,900&display=swap');

body {
    background: #ffffff;
    height: 1280px;
    width:960px;
    margin-left: auto ;
    margin-top: 2rem;
    margin-bottom:2rem;
    margin-right: auto;
    
}
  
    
    







